$white-color: #FFF;
$white-two-color: #F2F2F2;
$gray-alpha-color: #19191926;
$gray-light-color: #EFF0F0;
$blue-dark-color: #1A2C3A;
$pink-color: #E13868;
$pink-light-color: #df8080;
$rosa-color: #EB3768;