@font-face {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/darkergrotesque/v2/U9MH6cuh-mLQlC4BKCtayOfARkSVq7HUJA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/darkergrotesque/v2/U9MA6cuh-mLQlC4BKCtayOfARkSVo27wMWgrTQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/darkergrotesque/v2/U9MA6cuh-mLQlC4BKCtayOfARkSVozLzMWgrTQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* icons fontawesome */
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal !important;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fontawesome/fa-brands-400.eot");
  src: url("../fonts/fontawesome/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fa-brands-400.woff2") format("woff2"), url("../fonts/fontawesome/fa-brands-400.woff") format("woff"), url("../fonts/fontawesome/fa-brands-400.ttf") format("truetype"), url("../fonts/fontawesome/fa-brands-400.svg#fontawesome") format("svg");
}

.fab {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fontawesome/fa-regular-400.eot");
  src: url("../fonts/fontawesome/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fa-regular-400.woff2") format("woff2"), url("../fonts/fontawesome/fa-regular-400.woff") format("woff"), url("../fonts/fontawesome/fa-regular-400.ttf") format("truetype"), url("../fonts/fontawesome/fa-regular-400.svg#fontawesome") format("svg");
}

.far {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/fontawesome/fa-solid-900.eot");
  src: url("../fonts/fontawesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fa-solid-900.woff2") format("woff2"), url("../fonts/fontawesome/fa-solid-900.woff") format("woff"), url("../fonts/fontawesome/fa-solid-900.ttf") format("truetype"), url("../fonts/fontawesome/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
}

.fa-facebook-f:before {
  content: "\f39e";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-youtube:before {
  content: "\f167";
}

.fa-linkedin-in:before {
  content: "\f0e1";
}

/* icons fontawesome */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[hidden] {
  display: none;
}

/* end normalize */
html {
  font-family: 'Darker Grotesque', sans-serif;
  color: #1A2C3A;
}

html h1 {
  font-size: 2.75rem;
  margin: 0.67em 0;
}

html h2 {
  font-size: 2.43rem;
  margin: 0.5em 0;
}

html h3 {
  font-size: 2.0rem;
}

html h4 {
  font-size: 1.6rem;
}

html .d-block {
  display: block;
}

html .responsive-img {
  max-width: 100%;
}

html .align-center {
  text-align: center;
}

html a.btn-more-games {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  background: #EB3768;
  color: #FFF;
  border-radius: 0.5rem;
  padding: 12px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 30px;
}

.social.white i {
  border: solid 2px #FFF;
}

.social.dark i {
  border: solid 2px #1A2C3A;
  margin: 0 5px;
}

.social a {
  text-decoration: none;
  color: #1A2C3A;
}

.social i {
  padding: 0.2rem;
  border-radius: 100%;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1620px;
  width: 100%;
}

.width-100 {
  width: 100%;
}

header {
  border-top: solid 9.5px #E13868;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0) 100%);
}

header .logo {
  padding: 1.5rem 0;
}

.banner {
  margin-bottom: 1.5rem;
}

.banner .content-left {
  padding-left: 2.3rem;
}

.banner .content-left h1 {
  line-height: 36px;
  color: #1A2C3A;
  text-shadow: 2px 2px 0 #df8080, 3px 5px 0 #FFF;
  position: relative;
  max-width: 800px;
}

.banner .content-left h1:before {
  position: absolute;
  left: 0;
  bottom: -25px;
  content: '';
  background: #df8080;
  height: 10px;
  width: 100px;
  border-radius: 4px;
}

.banner .content-left p {
  font-size: 1.4rem;
  margin: 2rem 0;
  font-weight: 600;
  max-width: 450px;
  line-height: 28px;
}

.banner .content-left .btn-learn-more {
  padding: 15px 50px;
}

.feature-game {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-game h2 {
  width: 100%;
  margin-bottom: 0;
}

.feature-game p {
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.4rem;
  margin: 1rem auto;
  max-width: 700px;
  text-align: center;
}

.feature-game .feature-game-content {
  border-radius: 1.5rem;
  -webkit-box-shadow: 12px 12px 30px 5px rgba(25, 25, 25, 0.15);
          box-shadow: 12px 12px 30px 5px rgba(25, 25, 25, 0.15);
  padding-bottom: 1rem;
  margin: 1.5rem;
  position: relative;
}

.feature-game .feature-game-content h3 {
  margin: 0.2rem 0;
}

.feature-game .feature-game-content a.btn-details {
  color: #E13868;
  font-weight: 900;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.feature-game .feature-game-content img {
  margin-bottom: -4px;
}

.feature-game .feature-game-content .bg-cookie-jam-blast, .feature-game .feature-game-content .bg-panda-pop, .feature-game .feature-game-content .bg-cooke-jam {
  border-radius: 1.5rem;
}

.feature-game .feature-game-content .absolute {
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 0;
}

.feature-game .feature-game-content:hover .absolute {
  -webkit-transform: scale(1.04) translate(-1.5%, 0%);
          transform: scale(1.04) translate(-1.5%, 0%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: -10px;
}

.dream-team {
  margin-top: 10rem;
  margin-bottom: 150px;
  background: #F2F2F2;
}

.dream-team .content {
  text-align: center;
  padding: 0 2.3rem;
}

.dream-team .content h2 {
  display: block;
  float: left;
  width: 100%;
  margin: 2.3rem 0 0 0;
}

.dream-team .content p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
  display: inline-block;
  max-width: 800px;
}

.dream-team .team {
  margin-bottom: 25rem;
  position: relative;
}

.dream-team .team .boss {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.dream-team .team .boss .coo {
  -ms-grid-column-align: end;
      justify-self: end;
}

.dream-team .team > img {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  top: 10rem;
  width: 90%;
  background: url(../images/bg-img.png) no-repeat;
  background-size: cover;
}

footer {
  background: #1A2C3A;
  color: #FFF;
}

footer .bg-map {
  background: url("../images/map.png") no-repeat top;
  min-height: 370px;
  grid-area: map;
}

footer .bg-map h2 {
  text-align: center;
  color: #FFF;
  font-size: 2.5rem;
  margin-top: 5rem;
  display: inline-block;
  width: 100%;
}

footer .bg-map h2 span {
  color: #FFF;
}

footer .footer-left {
  grid-area: footerLeft;
  border-top: solid 1px #FFF;
}

footer .footer-left ul {
  padding: 0;
}

footer .footer-left a {
  text-decoration: none;
  color: #FFF;
}

footer .footer-left .logo-social {
  grid-area: logoSocial;
}

footer .footer-left .logo-social .footer-logo {
  padding: 3.5rem 2rem 2rem 2rem;
}

footer .footer-left .footer-mid {
  grid-area: footerMid;
}

footer .footer-left .footer-menu-one {
  grid-area: menuOne;
}

footer .footer-left .footer-menu-one li {
  list-style: none;
  font-size: 2rem;
  text-align: center;
  line-height: 3.5rem;
  font-weight: 900;
}

footer .footer-left .footer-menu-two {
  grid-area: menuTwo;
}

footer .footer-left .footer-menu-two li {
  list-style: none;
  font-size: 2rem;
  text-align: center;
  line-height: 3.5rem;
  font-weight: 400;
}

footer .footer-left .copyright {
  grid-area: copyright;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.5rem;
}

footer .footer-left .copyright p {
  text-align: center;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 400;
}

/* media queries */
/* menu mobile */
@media (max-width: 767px) {
  #logo-menu-mobile {
    position: fixed;
    bottom: 80px;
    z-index: 9;
    width: 90px;
    right: 0;
    left: -50px;
    text-align: center;
    margin: 0 auto;
    display: none;
  }
  /* menu mobile animation */
  #hamburger-wrapper {
    position: fixed;
    top: 35px;
    right: 10px;
    width: 50px;
    height: 50px;
  }
  .burger {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .burger,
  .burger:before,
  .burger:after {
    background-color: #1A2C3A;
    border-radius: 5px;
    width: 80%;
    height: 5px;
    -webkit-transition: margin .1s .2s, -webkit-transform .2s;
    transition: margin .1s .2s, -webkit-transform .2s;
    transition: margin .1s .2s, transform .2s;
    transition: margin .1s .2s, transform .2s, -webkit-transform .2s;
  }
  .burger:before,
  .burger:after {
    margin: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .burger:before {
    margin-top: -12px;
  }
  .burger:after {
    margin-top: 12px;
  }
  .open .burger {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .open .burger,
  .open .burger:before,
  .open .burger:after {
    -webkit-transition: margin .2s, -webkit-transform .1s .2s;
    transition: margin .2s, -webkit-transform .1s .2s;
    transition: margin .2s, transform .1s .2s;
    transition: margin .2s, transform .1s .2s, -webkit-transform .1s .2s;
  }
  .open .burger:before,
  .open .burger:after {
    margin-top: 0;
    background: #E13868;
  }
  .open .burger:after {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  #social-menu {
    display: none;
  }
  .active {
    display: block !important;
  }
  /* menu mobile animation */
  header {
    position: fixed;
    padding: 0 2.4rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0 0 110px 0;
  }
  header .mobile {
    background: #1A2C3A;
    top: 9px;
    left: 0;
    width: 80%;
    height: 100vh;
    z-index: 9;
    position: fixed;
    display: none;
  }
  header .mobile a {
    text-decoration: none;
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-weight: 900;
    color: #FFF;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .social {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    color: #FFF;
    max-width: 75%;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .social a {
    text-decoration: none;
    color: #fff;
  }
  header .social i {
    border: solid 2px #FFF !important;
  }
  .banner {
    margin-top: 100px;
  }
}

/* menu mobile */
@media (min-width: 576px) {
  .feature-game {
    padding: 0;
  }
  .dream-team .team > img {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .hamburger-wrapper, #logo-menu-mobile {
    display: none !important;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
  }
  header nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav ul a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    color: #1A2C3A;
    padding: 0 0.3rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    position: relative;
  }
  header nav ul a:hover:before {
    position: absolute;
    bottom: -10px;
    content: '';
    background: #df8080;
    height: 8px;
    width: 60px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 4px;
  }
  header .social {
    padding: 0;
  }
  header .social i {
    font-size: 1rem;
  }
  .container {
    width: 100%;
  }
  .banner .content-left {
    position: relative;
    padding: 13rem 0 11rem 5rem;
    background: url(../images/bg-banner.png) no-repeat;
    background-size: cover;
  }
  .banner .content-left .bg-content-left {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    background: url(../images/bg-img.png) no-repeat;
  }
  .dream-team .team > img {
    width: 70%;
    top: 18rem;
  }
  .footer-mid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "menuOne menuTwo" "copyright copyright";
  }
  .footer-mid li {
    text-align: left !important;
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .social {
    padding: 10px !important;
  }
  footer {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "footerLeft map";
  }
  footer .footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    padding: 4rem 5rem 0rem 8rem;
  }
  footer .footer-left .copyright p {
    text-align: left;
    max-width: 450px;
  }
  footer .bg-map h2 {
    text-align: center;
    margin: 1.5rem auto;
    display: block;
    width: auto;
  }
  .container {
    width: 90%;
  }
  .container-feature-game-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
  }
  .container-feature-game-content > div {
    margin: 0 0.5rem;
  }
  .dream-team .team > img {
    width: 650px;
  }
  html .banner .content-left {
    padding-top: 8rem;
  }
  html .banner .content-left h1 {
    font-size: 6.5rem;
    line-height: 90px;
    text-shadow: 4px 3px 0 #df8080, 7px 8px 0 #FFF;
  }
  html .banner .content-left h1:before {
    bottom: -50px;
  }
  html .banner .content-left p {
    font-size: 1.5rem;
    margin: 5rem 0;
    max-width: 500px;
  }
  html h2 {
    font-size: 4.5rem;
  }
}

@media (min-width: 1450px) {
  header nav ul a {
    font-size: 2rem;
    padding: 0 1rem;
  }
  header .social {
    padding: 10px !important;
  }
  header .social i {
    font-size: 1.5rem;
  }
  .dream-team .team > img {
    width: 850px;
    top: 5rem;
  }
  footer .bg-map h2 {
    text-align: left;
    margin: 5rem;
  }
}

/* media queries */
.team a.btn-learn-more {
  position: absolute;
  bottom: -16rem;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

a.btn-learn-more {
  position: relative;
  font-size: 2rem;
  color: #FFF;
  text-decoration: none;
  font-weight: 600;
  background: #EB3768;
  width: 250px;
  padding: 15px 10px;
  border-radius: 10px 10px 20px 20px;
}

a.btn-learn-more:hover {
  background: #1a2c3a;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

a.btn-learn-more:hover .btn-primary {
  opacity: 0;
}

a.btn-learn-more:hover .btn-span {
  opacity: 1;
}

a.btn-learn-more .btn-span {
  position: absolute;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */